{% comment %}
  <!-- Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
  <link rel="icon" href="https://lh3.googleusercontent.com/a/AGNmyxaGaznAY9BI5ytI9UybOLWJwI5SRBo8Hgz1LLhi=s96-c" type="image/x-icon" /> -->
  <link rel="shortcut icon" href="/assets/favicon.png" type="image/png" />

{% endcomment %}
